* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    --bg-color: var(--tg-theme-bg-color, #fff);
    background-color: var(--bg-color);
    color: var(--tg-theme-text-color, #222);
    color-scheme: var(--tg-color-scheme);
    font-family: sans-serif;
    font-size: 14px;
}

form {
    text-align: center;
}

input[type="text"], textarea {
    background-color: var(--tg-theme-bg-color, #ffffff);
    border: 1px solid var(--tg-theme-link-color, #000);
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--tg-theme-text-color, #222222);
    display: block;
    font-size: 14px;
    font-family: sans-serif;
    margin: 2% 2%;
    padding: 12px 20px;
    text-align: start;
    width: 100%;
}

input[type="text"]::-webkit-input-placeholder {color: var(--tg-theme-hint-color, #ccc);}
textarea::-webkit-input-placeholder {color: var(--tg-theme-hint-color, #ccc);}

input[type="text"]::-moz-placeholder {color: var(--tg-theme-hint-color, #ccc);}
textarea::-moz-placeholder {color: var(--tg-theme-hint-color, #ccc);}

input[type="text"]::-ms-input-placeholder {color: var(--tg-theme-hint-color, #ccc);}
textarea::-ms-input-placeholder {color: var(--tg-theme-hint-color, #ccc);}

input[type="file"] {
    background-color: var(--tg-theme-bg-color, #ffffff);
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--tg-theme-hint-color, #ccc);
    display: block;
    font-size: 14px;
    margin: 45px 0 0 0;
    padding: 12px 20px;
    text-align: center;
    width: 100%;
}